@import "tailwindcss";

html {
  touch-action: manipulation;
  font-family: monospace, Courier, 'Courier New';
  font-size: 14px;

}

#root {
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.0);
}

@keyframes revealing {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dialogdiv {
  max-height: 80dvh;
}

@media (max-height: 500px) and (orientation: landscape) {
  .dialogdiv {
    max-height: 100dvh;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}