@import "tailwindcss";

html {
  touch-action: manipulation;
  font-family: monospace, Courier, 'Courier New';
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {

  ::view-transition-old(dialog-content),
  ::view-transition-new(dialog-content),
  ::view-transition-old(dialog-backdrop),
  ::view-transition-new(dialog-backdrop),
  dialog,
  html {
    filter: invert(90%) saturate(50%) contrast(90%) hue-rotate(180deg);
  }
}

#root {
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

:root {
  --transition-duration: 0.25s;
}

@media (prefers-reduced-motion) {

  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-old(dialog-content) {
  animation: slideIn var(--transition-duration) cubic-bezier(0.86, 0, 0.07, 1) reverse;
  opacity: 0;
}

::view-transition-new(dialog-content) {
  animation: slideIn var(--transition-duration) cubic-bezier(0.86, 0, 0.07, 1);
}

::view-transition-old(dialog-backdrop) {
  animation: revealing var(--transition-duration) ease-in-out reverse;
  opacity: 0;
}

::view-transition-new(dialog-backdrop) {
  animation: revealing var(--transition-duration) ease-in-out;
}

@keyframes revealing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%) scale(1.2);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1.0);
    opacity: 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}